<%- include('./partials/header') %>

<div class="flex items-start px-5 py-5 gap-10">

    <form autocomplete="off" action="/profile/upload" method="post" >
        <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">User Details</h3>
            <div class="mb-4">
                <label class="block mb-2 font-medium">User Image</label>
                <input name="image" type="file" class="py-2 px-4 rounded" value="Select File">
            </div>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Upload</button>
    </form>

    <div class="flex items-start px-5 py-5 gap-10">
    <form autocomplete="off" action="/profile/update" method="post" >
        <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Update</h3>
            <div class="mb-4">
                <input name="fullname" type="text" class="py-2 px-4 rounded" value="<%= user.fullname%>">
                <input name="phone" type="text" class="py-2 px-4 rounded" value="<%= user.phone%>">
            </div>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Upload</button>
    </form>
    </div>
</div>



   



<div class="w-full h-screen flex items-start px-30 py-30 gap-10">
    <div class="w-[30%] rounded-md overflow-hidden">
        <div class="w-full flex justify-center items-center h-50">
            <img class="h-[15rem]" src="data:image/jpeg;base64, <%= user.image.toString('base64') %>" alt="Profile Picture">
        </div>
        
    </div>
    <div class="w-[70%]">
        <h3 class="text-xl">User Detail</h3>
        <div class="px-10 mt-5">
            <div class="flex mt-2">
                <h4 class="w-1/3"> Name</h4>
                <h4> <%= user.fullname %> </h4>
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3"> Email </h4>
                <h4> <%= user.email %></h4>
            </div>
            <div class="flex mt-2">
                <h4 class="w-1/3"> Phone </h4>
                <h4> <%= user.phone %></h4>
            </div>
            
        </div>
        <div class="w-full h-[1px] bg-black mt-10"></div>
    </div>
</div>




<%- include('./partials/footer') %>
